@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars for all browsers */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

/* Hide scrollbars for any scrollable content */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}